.navbar {
    height: 80px;
    top: 0%;
    position: sticky;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0px 100px;
    z-index: 1000;
    background-color: black;
}

.navbar li {
    list-style-type: none;
    font-size: 20px;
}

.navbar li a {
    color: whitesmoke;
    text-decoration: none;
}