.navbar {
    height: 80px;
    top: 0%;
    position: sticky;
    display: flex;
    align-items: center;
    width: 100%;
    /* background-color: black; */
    padding: 0px 100px;
}

.navbar li {
    color: whitesmoke;
    list-style-type: none;
    font-size: 20px;
}