@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url('./styles/Home.css');
@import url('./styles/Navbar.css');
@import url('./styles/style.scss');
@import url('./styles/Drop.scss');
@import url('./styles/About.scss');
@import url('./styles/Contact.scss');
@import url('./styles/FAQs.scss');

* {
    margin: 0% auto;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}